################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/f9eb32ee-6eee-46f8-b299-e431d02920ab.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/b8c58b9f-a6c9-4ba6-9384-9db235b0387e.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/b46ccf57-4492-4581-8162-093d0222d579.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/48657413-729f-4570-ab08-1eb540501c2b.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/113715d5-cadc-4259-a9c0-a1a406ec9194.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex/2501f3a1-c10a-455e-aee9-a9da577bb90f.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex/092a5d4c-77c9-4abd-890d-c18827988416.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex
