################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/f9eb32ee-6eee-46f8-b299-e431d02920ab.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/b8c58b9f-a6c9-4ba6-9384-9db235b0387e.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/b46ccf57-4492-4581-8162-093d0222d579.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/48657413-729f-4570-ab08-1eb540501c2b.vsidx
/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/113715d5-cadc-4259-a9c0-a1a406ec9194.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex/2501f3a1-c10a-455e-aee9-a9da577bb90f.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex/092a5d4c-77c9-4abd-890d-c18827988416.vsidx
/Programming Code/C# Programming/MirrorInt/.vs/MirrorInt/FileContentIndex
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/4187981a-9724-49e2-8245-4e0bbaefbbc5.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/6f581b27-9a75-439e-af0d-52b98683d44f.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/9a5d8d17-c0f7-48c7-97e0-61c32aef693b.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/ada7b87a-845f-4460-a8bd-a2cece097ec8.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/827c4912-8393-420a-b8fd-cc2768b9e5a9.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/f4e437bd-7151-4763-be43-dee25bd6cc72.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/9fca74f1-408e-4c8e-9871-8c911a103a91.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/eb9681d0-a783-439f-a494-103622451d63.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/e08f8fca-c180-43a3-abf2-4187a72f6e55.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/62761c27-002c-4451-bb96-e89cc1630f7d.vsidx
/.vs/Makeen2-CodeAcademy-FullStackDevelopment/FileContentIndex/2b79ba8d-3586-4502-a9ca-130a15610b57.vsidx
