################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming Code/C# Programming/CodeAcademyShopSolution/.vs/CodeAcademyShopSolution/FileContentIndex/f9eb32ee-6eee-46f8-b299-e431d02920ab.vsidx
